<html>
    <head>
        <title>{{page_title}}</title>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="671493523802-ovm9gv2ogda868000krf94r9kh1bllft.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>

            function createXmlHttp() {
                var xmlhttp;
                if (window.XMLHttpRequest) {
                    xmlhttp = new XMLHttpRequest();
                } else {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                if (!(xmlhttp)) {
                    alert("Your browser does not support AJAX!");
                }
                return xmlhttp;
            }

            // this function converts a simple key-value object to a parameter string.
            function objectToParameters(obj) {
                var text = '';
                for (var i in obj) {
                    // encodeURIComponent is a built-in function that escapes to URL-safe values
                    text += encodeURIComponent(i) + '=' + encodeURIComponent(obj[i]) + '&';
                }
                return text;
            }


            function postParameters(xmlHttp, target, parameters) {
                if (xmlHttp) {
                    xmlHttp.open("POST", target, true); // XMLHttpRequest.open(method, url, async)
                    var contentType = "application/x-www-form-urlencoded";
                    xmlHttp.setRequestHeader("Content-type", contentType);
                    xmlHttp.send(parameters);
                }
            }

            function sendJsonRequest(parameterObject, targetUrl, callbackFunction) {
                var xmlHttp = createXmlHttp();
                xmlHttp.onreadystatechange = function() {
                    if (xmlHttp.readyState == 4) {
                        console.log(xmlHttp.responseText);
                        var myObject = JSON.parse(xmlHttp.responseText);
                        callbackFunction(myObject, targetUrl, parameterObject);
                    }
                }
                console.log(targetUrl);
                console.log(parameterObject);
                postParameters(xmlHttp, targetUrl, objectToParameters(parameterObject));
            }

        </script>
    </head>
    <body>
        <h1>Authentication Demo{% if page_title %}: {{page_title}}{% endif %}</h1>
        <nav>
            <a href="index.html" class="NavLink">Main Page</a>
        </nav>
        <header>
            {% block header %}{% endblock %}
        </header>
        <section id="ErrorArea"></section>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>