{% extends '_base.html' %}
{% block header %}
Shopping List
{% endblock %}
{% block content %}
<div>
This page demonstrates how to store and retrieve some data using JSON, AJAX,
and Cloud Datastore.
<div id="DisplayArea">
</div>
<div>
  <h3>Add Shopping List Item</h3>
  <table>
    <tr>
      <td>Quantity:</td>
      <td>Item:</td>
    </tr>
    <tr>
      <td><input type="number" id="item_quantity"></td>
      <td><input type="text" id="item_title"></td>
      <td><button onclick="saveItem();">Add</button></td>
    </tr>
  </table>
</div>
<script>

function saveItem(id) {
  let params = {};
  if (id) {
    params['id'] = id;
    params['quantity'] = document.getElementById("edit_item_quantity").value;
    params['title'] = document.getElementById("edit_item_title").value;
  } else {
    // if no ID is supplied this is creating a new item.
    params['quantity'] = document.getElementById("item_quantity").value;
    params['title'] = document.getElementById("item_title").value;
  }
  sendJsonRequest('save-item', objectToParameters(params), itemSaved);
}

function clearItemForm() {
  document.getElementById("item_quantity").value = '';
  document.getElementById("item_title").value = '';
}

function itemSaved(result, targetUrl, params) {
  if (result && result.ok) {
    console.log("Saved item.");
    clearItemForm();
    loadItems();
  } else {
    console.log("Received error: " + result.error);
    showError(result.error);
  }
}

function displayList(result, targetUrl) {
  if (result && result.length) {
    let text = '<ul>';
    for (var i = 0; i < result.length; i++) {
      text += '<li id="li_' + result[i].id + '">';
      text += '<button onclick="editItem(\'' + result[i].id + '\');">edit</button> ';
      text += '<button onclick="deleteItem(\'' + result[i].id + '\');">x</button> ';
      text += result[i].quantity + ') ' + result[i].title;
      text += '</li>';
    }
    text += '</ul>';
    console.log("updating DisplayArea: " + text);
    document.getElementById("DisplayArea").innerHTML = text;
  } else {
    document.getElementById("DisplayArea").innerHTML = 'No list items.';
  }
}

function editItem(id) {
  getData('/get-item/' + id, itemLoaded);
}

function itemLoaded(result, targetUrl) {
  let text = '';
  text += '<input type="number" id="edit_item_quantity" value="' + result.quantity + '"> ) ';
  text += '<input type="text" id="edit_item_title" value="' + result.title + '"> ';
  text += '<button onclick="saveItem(' + result.id + ');">save</button> ';
  text += '<button onclick="loadItems();">cancel</button> ';
  document.getElementById('li_' + result.id).innerHTML = text;
}

function deleteItem(id) {
  if (confirm("Are you sure you want to delete?")) {
    let params = {"id": id};
    sendJsonRequest('delete-item', objectToParameters(params), itemDeleted);
  }
}

function itemDeleted(result, targetUrl, params) {
  if (result && result.ok) {
    console.log("Deleted item.");
    loadItems();
  } else {
    console.log("Received error: " + result.error);
    showError(result.error);
  }
}

function loadItems() {
  getData('/load-sl-items', displayList);
}

loadItems();

</script>
{% endblock %}